<div class="crm-container">
  <div crm-ui-debug="myContact"></div>
  <div>
    <h1>CiviCRM Membership Search</h1>
  </div>
  <form name="membershipForm" crm-ui-id-scope>
    <div class="help">
      <p>{{ts('Welcome to CiviCRM, Membership Filtration Module.')}}</p>
      <p>{{ts('To start using this module select the dates and hit search...')}}</p>
    </div>
    <div crm-ui-accordion="{title: ts('Advanced Search')}">
      <div class="crm-block">
        <div class="crm-group">
          <div crm-ui-field="{title: ts('Filters: '), help: hs('filter_help')}">
            <input
            ng-hide="filters.jdisable"
            crm-ui-id="membershipsForm.join_date"
            ng-model="filters.join_date"
            class="crm-form-text"
            placeholder="Joined Date"
            datepicker
            type="text"
            />
            <input
            ng-hide="filters.sdisable"
            crm-ui-id="membershipsForm.start_date"
            ng-model="filters.start_date"
            class="crm-form-text datepicker"
            placeholder="Start Date"
            datepicker
            type="text"
            />
            <input
            ng-hide="filters.edisable"
            crm-ui-id="membershipsForm.end_date"
            ng-model="filters.end_date"
            class="crm-form-text datepicker"
            placeholder="Expiry Date"
            datepicker
            type="text"
            />
            <input
            type="button"
            crm-ui-id="membershipForm.submit"
            value="Search Memberships"
            class="crm-form-button"
            ng-click="search()"
            />
          </div>
        </div>
      </div>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Contact ID</th>
        <th>Membership</th>
        <th>Source</th>
        <th>Join Date</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="message">
        <td colspan=6>
          <span class="warning-msg">
            <center><b>No Memberships found for your Search. Try again with appropriate data.</b></center>
          </span>
        </td>
      </tr>
      <tr ng-repeat="member in memberships.values" ng-class-even="'even-row'" ng-class-odd="'odd-row'">
        <td>{{member.contact_id}}</td>
        <td>{{member.membership_name}}</td>
        <td>{{member.source}}</td>
        <td>{{member.join_date}}</td>
        <td>{{member.start_date}}</td>
        <td>{{member.end_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
